.lead {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .lead {
        margin-bottom: 88px;
    }
}


@media screen and (min-width: 1024px) {
    .lead {
        width: calc(100% - 96px);
        margin-bottom: 92px;
    }
}


@media screen and (min-width: 1280px) {
    .lead {
        margin-top: 56px;
    }
}