.header {
    padding-top: 16px;
    width: calc(100% - 32px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (min-width: 425px) {
.header {
    padding-top: 28px;
    width: calc(100% - 48px);
    }
}

@media screen and (min-width: 1024px) {
    .header {
        width: calc(100% - 96px);
        }
    }