.intro__title {
    max-width: 690px;
    margin: 0;
    margin-right: auto;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: start;
    margin-bottom: 40px;
    }
 
    
    @media screen and (min-width: 768px) {
        .intro__title {
            font-size: 54px;
            line-height: 58px;        
            }
    
    }